  <h1 class="page-header">Welcome to my online store!</h1>
  <ol>
  <li class="lead">There's a seeds file, but no Product model exists yet.</li>
  <li class="lead">An Order model should keep track of all the products purchased to a given customer.
  <li class="lead">Shipping for always costs $7.</li>
  <li class="lead">Shipping is free for orders over $25 or those containing 3 or more items.</li>
  </ol>
